* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: $primary-font-family;
  font-size: 20px;
  font-weight: 400;
  color: $primary-font-color;
}

figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: inline-block;
}

a,
a:hover {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


p,
label {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
  white-space: nowrap;
}

textarea,
button,
input {
  outline: none !important;
  border: none;
}

.noscroll {
  overflow: hidden;
}

.page-section {
  margin-bottom: 80px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

//overlay
.overlay_menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.overlay_menu.active {
  display: block;
}


//hamburger-menu
.hamburger-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  max-width: 40px;
  cursor: pointer;
  z-index: 16;

  @media (min-width: 1200px) {
    display: none;
  }
}

.hamburger-menu .bar {
  height: 5px;
  background: black;
  border-radius: 5px;
  margin: 3px 0px;
  transform-origin: left;
  transition: all 0.5s;
}

.hamburger-menu.active .top {
  transform: rotate(45deg);
}

.hamburger-menu.active .middle {
  opacity: 0;
}

.hamburger-menu.active .bottom {
  transform: rotate(-45deg);
}

//mobile-menu
.mobile__menu {
  position: absolute;
  padding: 25px 50px 30px 90px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 15;
  transition: all .4s ease-in-out;
  transform: translateX(-100%);

  @media (min-width: 768px) {
    height: 70vh;
    transform: translateY(-100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  @media (min-width: 1200px) {
    display: none;
  }

  .mobile__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    a {
      position: relative;
      font-size: 1rem;
      font-weight: 700;
      line-height: 22px;
      border-bottom: 1px solid $primary-font-color;

      @media (min-width: 560px) {
        flex-basis: 50%;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50%;
        left: -35px;
        transform: translateY(-50%);
        background-position: center;
        background-repeat: no-repeat;
      }

      &.enter:before {
        background-image: url("/../../img/user-icon.svg");
      }

      &.heart:before {
        background-image: url("/../../img/heart-icon.svg");
      }

      &.basket-mobile:before {
        background-image: url("/../../img/basket.svg");
      }

      &.shop:before {
        background-image: url("/../../img/shop.svg");
      }

      &.actions:before {
        background-image: url("/../../img/actions.svg");
      }

      &.delivery:before {
        background-image: url("/../../img/delivery.svg");
      }
    }

    @media (min-width: 560px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

.mobile__menu.active {
  transform: translateX(0);
}

//переключение табов
.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}


.banner-section__slider-btn,
.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}
