.footer {
  background-color: #F0F0F4;
  padding-top: 42px;
  padding-bottom: 27px;
}

.footer__top-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__top-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.footer-list__item {
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
}

.footer__top-item:nth-child(2),
.footer__top-item:nth-child(3) {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.footer__top-item:first-child {
  max-width: 295px;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: 1200px) {
    margin-bottom: auto;
  }

  .footer-form {
    display: flex;
    margin-top: 33px;

    .footer-form__input {
      padding: 8px 12px;
      width: 100%;
      font-family: $primary-font-family;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      &::placeholder {
        color: #C4C4C4;
      }
    }

    button {
      padding: 8px 16px;
      background-color: $accent-color;
      font-family: $primary-font-family;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}


.footer__top-item:last-child {

  @media (min-width: 1200px) {
    margin-right: 100px;
  }
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.social-list__item {
  & + & {
    margin-left: 30px;
  }
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  text-align: left;

  @media (min-width: 768px) {
    display: block;
    text-align: center;
  }
}

.footer__bottom-link {
  font-size: 10px;
  line-height: 12px;

  & + & {

    @media (min-width: 768px) {
      margin-left: 81px;
    }
  }
}
