.product-slider {
  display: flex;
  justify-content: space-between;
}

.products__title {
  font-family: $accent-font-family;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}

.product__tabs {
  margin-bottom: 25px;
}

.product__tab {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding-bottom: 10px;

  & + & {
    margin-left: 50px;
  }

  &.tab--active {
    border-bottom: 2px solid $accent-color;
  }
}

.products__container {
  margin-bottom: 35px;
}


.product-item__wrapper {
  position: relative;
  max-width: 271px;
}

.product-item__wrapper.product-item__not-available .product-item__price {
  display: none;
}

.product-item__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.product-item:hover .product-item__notify-text {
  color: $primary-font-color;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
  display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
  display: none;
}

.product-item__notify-link {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $accent-color;

  span {
    border-bottom: 1px solid $accent-color;
  }
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
  display: inline-block;
}

.product-item {
  width: 100%;
  min-height: 400px;
  min-width: 270px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  transition: all .3s;

  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    color: $accent-color;
  }
}

.product-item--sale::before {
  content: "SALE";
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: white;
  top: 0;
  left: 0;
  padding: 8px 15px;
  background-color: $accent-color;
}

.product-item__title {
  font-weight: normal;
  margin: 14px 0 25px;
  font-size: 18px;
  line-height: 21px;
}

.product-item__wrapper.product-item__not-available .product-item__title {
  margin-bottom: 13px;
}

.product-item-favorite {
  position: absolute;
  width: 24px;
  height: 22px;
  top: 16px;
  right: 19px;
  background-color: transparent;

  &::before {
    content: url("../../img/heart-icon.svg");
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
  }
}

.product-item-favorite--active {
  &::before {
    content: url("../../img/heart-active-icon.svg");
  }
}

.product-item__text {
  position: absolute;
  display: block;
  left: 20px;
  right: 20px;
  top: 30%;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 18px 22px;
  opacity: 0;
  transition: all .3s;
}

.product-item:hover .product-item__text {
  opacity: 1;
  color: $primary-font-color;
}

.product-item__img {
  margin: 0 auto;
}

.product-item__price {
  font-family: $accent-font-family;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-item__basket {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $accent-color !important;
  padding: 10px 15px 7px;
  border-top-left-radius: 10px;
  z-index: 10;
}


.product-slider__slider-btnprev {
  z-index: 5;
  left: -20px;
}

.product-slider__slider-btnnext {
  z-index: 5;
  right: -20px;
}

.products__more {
  text-align: center;
}

.products__more-link {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  padding: 17px 43px;
  background-color: #F0F0F4;
}
